In [1]:
# Data Viz pakages
import matplotlib.pyplot as plt
import seaborn as sns
# EDA packages
import pandas as pd

In [2]:
#load text cleaning package\n",
import neattext as nfx

In [3]:
import warnings

In [4]:
#load data
df = pd.read_csv("C:\\Users\\matif\\Downloads\\covid19_tweets.csv")

In [5]:
df.dropna(inplace=True)

In [6]:
#df.isnull().sum()

In [7]:
df=df.apply(lambda x: x.astype(str).str.lower()) # the whole dataset is converted into lowercase()

In [8]:
#dir(nfx)

In [9]:
def get_clean_data_column (new_column_name , column_name ):
    df[new_column_name] = df[column_name].apply(nfx.remove_emojis)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_numbers)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_punctuations)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_special_characters)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_multiple_spaces)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_stopwords)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_urls)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_visacard_addr)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_terms_in_bracket)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_street_address)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_puncts)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_postoffice_box)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_phone_numbers)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_html_tags)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_currency_symbols)
    return df[new_column_name]

In [10]:
dict_names = {'cleaning_user_name':'user_name',
              'cleaning_user_location':'user_location',
              'cleaning_user_description':'user_description',
              'cleaning_text':'text',
              'cleaning_hashtags':'hashtags',
              'cleaning_source':'source'}
#this the loop in dictionary 
for i ,j in dict_names.items():
    #here i m call my custom function to clean the dataset
    result = get_clean_data_column(i,j)

In [84]:
df[['user_name','cleaning_user_name']].head(2)

         user_name cleaning_user_name
2  time4fisticuffs     timefisticuffs
3      ethel mertz        ethel mertz

In [12]:
#df[['user_location','cleaning_user_location']].head(2)

In [13]:
#df[['user_description','cleaning_user_description']].head(2)

In [14]:
#df[['text','cleaning_text']].head(2)

In [15]:
#df[['hashtags','cleaning_hashtags']].head(2)

In [16]:
#df[['source','cleaning_source']].head(2)

In [21]:
'''here i made a function to take all columns than remove
stopwords from that further convert them into list'''
def get_clean_list (new_column_name):
    clean_list = df[new_column_name].apply(nfx.remove_stopwords).tolist()
    return clean_list

In [22]:
# this is list in which each column is mentioned 

columns_list = ['cleaning_user_name',
                'cleaning_user_location',
                'cleaning_user_description',
                'cleaning_text',
                'cleaning_hashtags',
                'cleaning_source']

# this is the for loop in columns_list

for column_list in columns_list:

    # here i give some conditions for each columns 
    if column_list == 'cleaning_user_name':
        # here i call function get_clean_list in different variables
        clean_user_name_result1 = get_clean_list(column_list)
    elif column_list == 'cleaning_user_location':
        clean_user_loaction_result1 = get_clean_list(column_list)
    elif column_list == 'cleaning_user_description':
        clean_user_description_result1 = get_clean_list(column_list)
    elif column_list == 'cleaning_text':
        clean_text_result1 = get_clean_list(column_list)
    elif column_list == 'cleaning_hashtags':
        clean_hashtags_result1 = get_clean_list(column_list)
    elif column_list == 'cleaning_source':
        clean_source_result1 = get_clean_list(column_list)

In [140]:
#clean_user_name_result1

In [35]:
#clean_user_loaction_result1

In [36]:
#clean_user_description_result1

In [37]:
#clean_text_result1

In [38]:
#clean_hashtags_result1

In [39]:
#clean_source_result1

In [107]:
def get_token (function_name):
    # here i made nested for loop to get token by splitting each sentence and save them in the variable
    tokens = [token for line in function_name for token in line.split()]
    return tokens

In [108]:
# this is list in which each column is mentioned 
columns_list = ['cleaning_user_name',
                'cleaning_user_location',
                'cleaning_user_description',
                'cleaning_text',
                'cleaning_hashtags',
                'cleaning_source']
# this is the for loop in columns_list
for column_list in columns_list:
    # here i give some conditions for each columns 
    if column_list == 'cleaning_user_name':
        # here i call function get_token in different variables
        clean_user_token_result2 =  get_token(get_clean_list(column_list))
    elif column_list == 'cleaning_user_location':
        clean_user_location_token_result2 = get_token(get_clean_list(column_list))
    elif column_list == 'cleaning_user_description':
        clean_user_description_token_result2 = get_token(get_clean_list(column_list))
    elif column_list == 'cleaning_text':
        clean_text_token_result2 = get_token(get_clean_list(column_list))
    elif column_list == 'cleaning_hashtags':
        clean_hashtags_token_result2 = get_token(get_clean_list(column_list))
    elif column_list == 'cleaning_source':
        clean_source_token_result2 = get_token(get_clean_list(column_list))

In [141]:
#clean_user_token_result2

In [46]:
#clean_user_location_token_result2

In [47]:
#clean_user_description_token_result2

In [48]:
#clean_text_token_result2

In [49]:
#clean_hashtags_token_result2

In [50]:
#clean_source_token_result2

In [85]:
import nltk

In [86]:
from nltk.stem import WordNetLemmatizer

In [89]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\matif\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [87]:
lemmatizer = WordNetLemmatizer()
def get_lemmatization(input_str_name):
    input_str =input_str_name 
    for i in input_str:
        a = nltk.word_tokenize(i)
        for word in a:
            print(lemmatizer.lemmatize(word))

get_lemmatization(clean_user_token_result2)

In [51]:
from collections import Counter

In [133]:
def get_frequence_of_token(tokens,nums=30):
    word_tokens = Counter(tokens)
    most_common = word_tokens.most_common(nums)
    most_common_info = dict (most_common)
    return most_common_info

In [134]:
#get_frequence_of_token(clean_user_token_result2)

In [136]:
columns_list = ['cleaning_user_name',
                'cleaning_user_location',
                'cleaning_user_description',
                'cleaning_text',
                'cleaning_hashtags',
                'cleaning_source']

for column_list in columns_list:
    if column_list == 'cleaning_user_name':
        clean_user_name_frequence_token_result3 = get_frequence_of_token(get_token(get_clean_list('cleaning_user_name')))
    elif column_list == 'cleaning_user_location':
        clean_user_loaction_frequence_token_result3 = get_frequence_of_token(get_token(get_clean_list('cleaning_user_location')))
    elif column_list == 'cleaning_user_description':
        clean_user_description_frequence_token_result3 = get_frequence_of_token(get_token(get_clean_list('cleaning_user_description')))
    elif column_list == 'cleaning_text':
        clean_text_frequence_token_result3 = get_frequence_of_token(get_token(get_clean_list('cleaning_text')))
    elif column_list == 'cleaning_hashtags':
        clean_hashtags_frequence_token_result3 = get_frequence_of_token(get_token(get_clean_list('cleaning_hashtags')))
    elif column_list == 'cleaning_source':
        clean_source_frequence_token_result3 = get_frequence_of_token(get_token(get_clean_list('cleaning_source')))

In [142]:
#clean_user_name_frequence_token_result3

In [138]:
def get_most_common (token):
    most_common = get_token(token)
    user_info_df = pd.DataFrame(most_common.items(),columns=['words','score'])
    return user_info_df

In [143]:
#get_most_common(a)

In [144]:
#get_most_common(clean_user_name_frequence_token_result3)

In [126]:
import datetime

In [127]:
def get_time_date(column_name,new_column_name_year,
                  new_column_name_month,
                  new_column_name_day,
                  new_column_name_hour,
                  new_column_name_minute,
                  new_column_name_second):
    
    #it is in object type to convert into datetime 
    df[column_name] = pd.to_datetime(df[column_name])
    df[new_column_name_year]=df[column_name].dt.year
    df[new_column_name_month]=df[column_name].dt.month
    df[new_column_name_day]=df[column_name].dt.day
    df[new_column_name_hour]=df[column_name].dt.hour
    df[new_column_name_minute]=df[column_name].dt.minute
    df[new_column_name_second]=df[column_name].dt.second

In [128]:
get_time_date(column_name = 'user_created',
              new_column_name_year = 'years',
              new_column_name_month = 'months',
              new_column_name_day = 'days',
              new_column_name_hour='hours',
              new_column_name_minute='minutes',
              new_column_name_second='seconds')

In [145]:
#df

In [59]:
from textblob import TextBlob

In [60]:
def get_sentiment(column_id):
    blob = TextBlob(column_id)
    sentiment_polarity = blob.sentiment.polarity
    sentiment_subjectivity = blob.sentiment.subjectivity
    if sentiment_polarity > 0:
        sentiment_label = 'Positive'
    elif sentiment_polarity < 0 :
        sentiment_label = 'Negative'
    else:
        sentiment_label = 'Natural'
    result = {'Polarity':sentiment_polarity,
            'Subjectivity':sentiment_subjectivity,
            'Sentiment':sentiment_label}
    return result

In [61]:
exl = df['cleaning_text'].iloc[0]

In [62]:
get_sentiment(exl)

{'Polarity': 0.0, 'Subjectivity': 0.0, 'Sentiment': 'Natural'}

In [63]:
def get_sentiment_results(column_mark):
    df['sentiment_results'] = df[column_mark].apply(get_sentiment)
    return df['sentiment_results']

In [146]:
#get_sentiment_results("cleaning_text")

In [68]:
from pandas.io.json import json_normalize

In [69]:
def get_json_normalize(normalize_colunm_name):
    result = pd.json_normalize(df[normalize_colunm_name])
    return result

In [70]:
get_json_normalize('sentiment_results')

       Polarity  Subjectivity Sentiment
0      0.000000      0.000000   Natural
1      0.000000      0.357143   Natural
2      0.000000      0.000000   Natural
3     -0.700000      0.666667  Negative
4      0.050000      0.500000  Positive
...         ...           ...       ...
99133  0.000000      0.000000   Natural
99134  0.000000      0.000000   Natural
99135  0.200000      0.200000  Positive
99136  0.800000      0.700000  Positive
99137  0.144886      0.522727  Positive

[99138 rows x 3 columns]

In [71]:
new_df=df[['cleaning_user_name',
    'cleaning_user_location',
    'cleaning_user_description',
    'cleaning_text', 
    'cleaning_hashtags',
    'cleaning_source',
           'years',
           'months',
           'days',
           'hours',
           'minutes',
           'seconds',
          'sentiment_results']]

In [147]:
#new_df

In [148]:
#pip install wordcloud

In [ ]:
data_dic = {'clean_user_name_most_common_token_result4':'MOST COMMON USER NAME',
            'clean_source_most_common_token_result4':'MOST COMMON USER SOURCE',
            'clean_user_description_most_common_token_result4':'MOST COMMON USER DESCRIPTION',
            'clean_hashtags_most_common_token_result4':'MOST COMMON USER HASHTAGS',
            'clean_text_most_common_token_result4':'MOST COMMON USER TEXT'}

In [ ]:
def get_plot_seabone_graph (data,title):
    plt.figure(figsize=(20,10))
    plt.xticks(rotation =45)
    plt.title(title)
    plot_info = sns.barplot(x = 'words' , y = 'score' , data=data_dic)
    plt.show()
    return plot_info

In [98]:
from wordcloud import WordCloud

In [99]:
def plot_wordcloud(tokens):
    my_wordcloud = WordCloud().generate(tokens)
    plt.imshow(my_wordcloud,interpolation='bilinear')
    plt.axis('off')
    plt.show()

In [100]:
def get_token_name (token_result):
    token_name = ' '.join(token_result)
    return token_name

In [103]:
tokens_list=['clean_source_token_result2',
             'clean_hashtags_token_result2',
             'clean_text_token_result2',
             'clean_user_description_token_result2',
             'clean_user_location_token_result2',
             'clean_user_token_result2']
for token_list in tokens_list:
    #print(token_list)
    if token_list == 'clean_user_token_result2':
        clean_user_wordcloud = get_token_name(clean_user_token_result2)
    elif token_list == 'clean_user_location_token_result2':
        clean_user_location_wordcloud = get_token_name(clean_user_location_token_result2)
    elif token_list == 'clean_user_description_token_result2':
        clean_user_description_wordcloud = get_token_name(clean_user_description_token_result2)
    elif token_list == 'clean_text_token_result2':
        clean_text_wordcloud = get_token_name(clean_text_token_result2)   
    elif token_list == 'clean_hashtags_token_result2':
        clean_hashtags_wordcloud = get_token_name(clean_hashtags_token_result2)   
    elif token_list == 'clean_source_token_result2':
        clean_source_wordcloud = get_token_name(clean_source_token_result2)

In [149]:
#plot_wordcloud(clean_user_wordcloud)