In [1]:
# Data Viz pakages
import matplotlib.pyplot as plt
import seaborn as sns
# EDA packages
import pandas as pd

In [15]:
#load text cleaning package\n",
import neattext as nfx

In [12]:
import warnings

In [29]:
#load data
df = pd.read_csv("C:\\Users\\matif\\Downloads\\covid19_tweets.csv")

In [31]:
df.dropna(inplace=True)

In [52]:
#df.isnull().sum()

In [33]:
df=df.apply(lambda x: x.astype(str).str.lower()) # the whole dataset is converted into lowercase()

In [51]:
#dir(nfx)

In [35]:
def get_clean_data_column (new_column_name , column_name ):
    df[new_column_name] = df[column_name].apply(nfx.remove_emojis)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_numbers)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_punctuations)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_special_characters)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_multiple_spaces)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_stopwords)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_urls)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_visacard_addr)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_terms_in_bracket)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_street_address)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_puncts)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_postoffice_box)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_phone_numbers)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_html_tags)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_currency_symbols)
    return df[new_column_name]

In [36]:
dict_names = {'cleaning_user_name':'user_name',
              'cleaning_user_location':'user_location',
              'cleaning_user_description':'user_description',
              'cleaning_text':'text',
              'cleaning_hashtags':'hashtags',
              'cleaning_source':'source'}
#this the loop in dictionary 
for i ,j in dict_names.items():
    #here i m call my custom function to clean the dataset
    result = get_clean_data_column(i,j)

In [53]:
df[['user_name','cleaning_user_name']].head(2)

         user_name cleaning_user_name
2  time4fisticuffs     timefisticuffs
3      ethel mertz        ethel mertz

In [54]:
df[['user_location','cleaning_user_location']].head(2)

          user_location cleaning_user_location
2      pewee valley, ky        pewee valley ky
3  stuck in the middle            stuck middle

In [55]:
df[['user_description','cleaning_user_description']].head(2)

,user_description,cleaning_user_description
2,#christian #catholic #conservative #reagan #re...,christian catholic conservative reagan republi...
3,#browns #indians #clevelandproud #[]_[] #cavs ...,browns indians clevelandproud cavs resist

In [56]:
df[['text','cleaning_text']].head(2)

,text,cleaning_text
2,@diane3443 @wdunlap @realdonaldtrump trump nev...,diane wdunlap realdonaldtrump trump claimed co...
3,@brookbanktv the one gift #covid19 has give me...,brookbanktv gift covid appreciation simple thi...

In [57]:
df[['hashtags','cleaning_hashtags']].head(2)

      hashtags cleaning_hashtags
2  ['covid19']             covid
3  ['covid19']             covid

In [58]:
df[['source','cleaning_source']].head(2)

                source  cleaning_source
2  twitter for android  twitter android
3   twitter for iphone   twitter iphone

In [59]:
new_df=df[['cleaning_user_name',
    'cleaning_user_location',
    'cleaning_user_description',
    'cleaning_text', 
    'cleaning_hashtags',
    'cleaning_source']]